<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/aca4f49d6f.js" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="../css/reset.css"> -->
        <link rel="stylesheet" href="../css/styles.css">
        <title>Document</title>
    </head>
    <body>
        <main>
            <section id="components-section"> <!--Lado izquierdo: Aqui van los componentes-->
                <article id="motherboard" class="componets-container">
                    <div class="component" draggable="true">
                        <img src="../img/generic-motherboard.png" class="MoBo" width="50" draggable="true"  alt="Generic motherboard icon">
                        <p class="component-description">Asus B550M</p>
                        <p class="component-price">$1,899mxn</p>
                        <input hidden type="number" value="1899" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-motherboard.png" class="MoBo" width="50" draggable="true" alt="Generic motherboard icon">
                        <p class="component-description">Gigabyte B650</p>
                        <p class="component-price">$3,079mxn</p>
                        <input hidden type="number" value="3079" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-motherboard.png" class="MoBo" width="50" draggable="true" alt="Generic motherboard icon">
                        <p class="component-description">MSI A520M</p>
                        <p class="component-price">$1,049mxn</p>
                        <input hidden type="number" value="1049" class="component-price" readonly>
                    </div>
                </article>
                <article id="cpu" class="componets-container">
                    <div class="component">
                        <img src="../img/generic-cpu.png" class="CPU" width="50" draggable="true" alt="Generic CPU icon">
                        <p class="component-description">Ryzen 7 5700</p>
                        <p class="component-price">$3,199mxn</p>
                        <input hidden type="number" value="3199" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-cpu.png" class="CPU" width="50" draggable="true" alt="Generic CPU icon">
                        <p class="component-description">Core i5 14400</p>
                        <p class="component-price">$3,999mxn</p>
                        <input hidden type="number" value="3999" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-cpu.png" class="CPU" width="50" draggable="true" alt="Generic CPU icon">
                        <p class="component-description">Celeron G5905</p>
                        <p class="component-price">$959mxn</p>
                        <input hidden type="number" value="959" class="component-price" readonly>
                    </div>
                </article>
                <article id="ram" class="componets-container">
                    <div class="component">
                        <img src="../img/generic-ram.png" class="RAM" width="50" draggable="true" alt="Generic RAM icon" >
                        <p class="component-description">Kingston Fury</p>
                        <p class="component-price">$799mxn</p>
                        <input hidden type="number" value="799" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-ram.png" class="RAM" width="50" draggable="true" alt="Generic RAM icon" >
                        <p class="component-description">XPG Spectrix</p>
                        <p class="component-price">$349mxn</p>
                        <input hidden type="number" value="349" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-ram.png" class="RAM" width="50" draggable="true" alt="Generic RAM icon" >
                        <p class="component-description">Patriot Viper</p>
                        <p class="component-price">$449mxn</p>
                        <input hidden type="number" value="449" class="component-price" readonly>
                    </div>
                </article>
                <article id="gpu" class="componets-container">
                    <div class="component">
                        <img src="../img/generic-gpu.png" class="GPU" width="50" draggable="true" alt="Generic GPU icon">
                        <p class="component-description">Radeon RX6600</p>
                        <p class="component-price">$3,899mxn</p>
                        <input hidden type="number" value="3899" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-gpu.png" class="GPU" width="50" draggable="true" alt="Generic GPU icon">
                        <p class="component-description">NvidiaRTX3060</p>
                        <p class="component-price">$5,199mxn</p>
                        <input hidden type="number" value="5199" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-gpu.png" class="GPU" width="50" draggable="true" alt="Generic GPU icon">
                        <p class="component-description">Intel Arc A750</p>
                        <p class="component-price">$5,199mxn</p>
                        <input hidden type="number" value="5199" class="component-price" readonly>
                    </div>
                </article>
                <article id="storage" class="componets-container">
                    <div class="component">
                        <img src="../img/generic-hdd.png" class="HDD" width="50" draggable="true" alt="Generic HDD icon">
                        <p class="component-description">Kingston A400</p>
                        <p class="component-price">$479mxn</p>
                        <input hidden type="number" value="479" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-hdd.png" class="HDD" width="50" draggable="true" alt="Generic HDD icon">
                        <p class="component-description">WD Green</p>
                        <p class="component-price">$999mxn</p>
                        <input hidden type="number" value="999" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-hdd.png" class="HDD" width="50" draggable="true" alt="Generic HDD icon">
                        <p class="component-description">Adata SU630</p>
                        <p class="component-price">$899mxn</p>
                        <input hidden type="number" value="899" class="component-price" readonly>
                    </div>
                </article>
                <article id="psu" class="componets-container">
                    <div class="component">
                        <img src="../img/generic-psu.png" class="PSU" width="50" draggable="true" alt="Generic PSU icon">
                        <p class="component-description">XPG Pylon</p>
                        <p class="component-price">$1,099mxn</p>
                        <input hidden type="number" value="1099" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-psu.png" class="PSU" width="50" draggable="true" alt="Generic PSU icon">
                        <p class="component-description">Corsair CX</p>
                        <p class="component-price">$1,199mxn</p>
                        <input hidden type="number" value="1199" class="component-price" readonly>
                    </div>
                    <div class="component">
                        <img src="../img/generic-psu.png" class="PSU" width="50" draggable="true" alt="Generic PSU icon">
                        <p class="component-description">NZXT C750</p>
                        <p class="component-price">$979mxn</p>
                        <input hidden type="number" value="979" class="component-price" readonly>
                    </div>
                </article>
            </section>
            <section id="cart-section"> <!-- Lado derecho: Aqui va el carrito de compras y el calculo del total -->
                <article id="cart">
                    <div id="MoBo" class="componentInCart">
                        <img src="" width="50" draggable="true" class="MoBo">
                        <p class="component-description">MoBo</p>
                    </div>
                    <div id="CPU" class="componentInCart">
                        <img src="" width="50" draggable="true" class="CPU">
                        <p class="component-description">CPU</p>
                    </div>
                    <div id="RAM" class="componentInCart">
                        <img src="" width="50" draggable="true" class="RAM">
                        <p class="component-description">RAM</p>
                    </div>
                    <div id="GPU" class="componentInCart">
                        <img src="" width="50" draggable="true" class="GPU">
                        <p class="component-description">GPU</p>
                    </div>
                    <div id="HDD" class="componentInCart">
                        <img src="" width="50" draggable="true" class="HDD">
                        <p class="component-description">HDD</p>
                    </div>
                    <div id="PSU" class="componentInCart">
                        <img src="" width="50" draggable="true" class="PSU">
                        <p class="component-description">PSU</p>
                    </div>
                </article>
                <article id="trash-resume">
                    <div id="trash" class="componentInCart">
                        <i class="fa-regular fa-trash-can" style="color: #FFF;"></i>
                    </div>
                    <div id="cost">
                        <h2>Total: $</h2>
                        <h2 id="totalCost"></h2>
                    </div>
                </article>
                <article id="confirm">
                    <form action="purcharse.html">
                        <button class="button-36" role="button" type="submit">Checkout</button>
                        <!-- <button type="submit">Proceder con pedido</button> -->
                    </form>
                    <p id="error" style="color: red"></p>
                </article>
            </section>
        </main>
        
        <script src="../../Controller/app.js"></script>
        <script src="../../Data/purcharseData.js"></script>
    </body>
</html>