<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="reset.css"> -->
        <link rel="stylesheet" href="../css/styles.css">
        <title>Document</title>
    </head>
    <body>
        <section id="components-section"> <!--Lado izquierdo: Aqui van los componentes-->
            <article id="motherboard" class="componets-container">
                <div class="component" draggable="true">
                    <img src="../img/generic-motherboard.png" class="component-img" width="100" draggable="true"  alt="Generic motherboard icon">
                    <p class="component-description">Asus B550M - $1,899mxn</p>
                    <input hidden type="number" value="1899" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-motherboard.png" width="100" draggable="true" alt="Generic motherboard icon">
                    <p class="component-description">Gigabyte B650 - $3,079mxn</p>
                    <input hidden type="number" value="3079" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-motherboard.png" width="100" draggable="true" alt="Generic motherboard icon">
                    <p class="component-description">MSI A520M - $1,049mxn</p>
                    <input hidden type="number" value="1049" class="component-price" readonly>
                </div>
            </article>
            <article id="cpu" class="componets-container">
                <div class="component">
                    <img src="../img/generic-cpu.png" width="100" draggable="true" alt="Generic CPU icon">
                    <p class="component-description">Ryzen 7 5700 - $3,199mxn</p>
                    <input hidden type="number" value="3199" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-cpu.png" width="100" draggable="true" alt="Generic CPU icon">
                    <p class="component-description">Core i5 14400 - $3,999mxn</p>
                    <input hidden type="number" value="3999" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-cpu.png" width="100" draggable="true" alt="Generic CPU icon">
                    <p class="component-description">Celeron G5905 - $959</p>
                    <input hidden type="number" value="959" class="component-price" readonly>
                </div>
            </article>
            <article id="ram" class="componets-container">
                <div class="component">
                    <img src="../img/generic-ram.png" width="100" draggable="true" alt="Generic RAM icon" >
                    <p class="component-description">Kingston Fury - $799mxn</p>
                    <input hidden type="number" value="799" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-ram.png" width="100" draggable="true" alt="Generic RAM icon" >
                    <p class="component-description">XPG Spectrix - $349mxn</p>
                    <input hidden type="number" value="349" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-ram.png" width="100" draggable="true" alt="Generic RAM icon" >
                    <p class="component-description">Patriot Viper - $449mxn</p>
                    <input hidden type="number" value="449" class="component-price" readonly>
                </div>
            </article>
            <article id="gpu" class="componets-container">
                <div class="component">
                    <img src="../img/generic-gpu.png" width="100" draggable="true" alt="Generic GPU icon">
                    <p class="component-description">Radeon RX6600 - $3,899mxn</p>
                    <input hidden type="number" value="" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-gpu.png" width="100" draggable="true" alt="Generic GPU icon">
                    <p class="component-description">NvidiaRTX3060 - $5,199mxn</p>
                    <input hidden type="number" value="5199" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-gpu.png" width="100" draggable="true" alt="Generic GPU icon">
                    <p class="component-description">Intel Arc A750 - $5,199mxn</p>
                    <input hidden type="number" value="5199" class="component-price" readonly>
                </div>
            </article>
            <article id="storage" class="componets-container">
                <div class="component">
                    <img src="../img/generic-hdd.png" width="100" draggable="true" alt="Generic HDD icon">
                    <p class="component-description">Kingston A400 - $479mxn</p>
                    <input hidden type="number" value="479" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-hdd.png" width="100" draggable="true" alt="Generic HDD icon">
                    <p class="component-description">WD Green - $999mxn</p>
                    <input hidden type="number" value="999" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-hdd.png" width="100" draggable="true" alt="Generic HDD icon">
                    <p class="component-description">Adata SU630 - $899mxn</p>
                    <input hidden type="number" value="899" class="component-price" readonly>
                </div>
            </article>
            <article id="psu" class="componets-container">
                <div class="component">
                    <img src="../img/generic-psu.png" width="100" draggable="true" alt="Generic PSU icon">
                    <p class="component-description">XPG Pylon - $1,099mxn</p>
                    <input hidden type="number" value="1099" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-psu.png" width="100" draggable="true" alt="Generic PSU icon">
                    <p class="component-description">Corsair CX - $1,199mxn</p>
                    <input hidden type="number" value="1199" class="component-price" readonly>
                </div>
                <div class="component">
                    <img src="../img/generic-psu.png" width="100" draggable="true" alt="Generic PSU icon">
                    <p class="component-description">NZXT C750 - $979mxn</p>
                    <input hidden type="number" value="979" class="component-price" readonly>
                </div>
            </article>
        </section>
        <section id="cart-section"> <!-- Lado derecho: Aqui va el carrito de compras y el calculo del total -->
            <article id="cart">
                <div class="componentInCart"><img src="" alt=""></div>
                <div class="componentInCart"><img src="" alt=""></div>
                <div class="componentInCart"><img src="" alt=""></div>
                <div class="componentInCart"><img src="" alt=""></div>
                <div class="componentInCart"><img src="" alt=""></div>
                <div class="componentInCart"><img src="" alt=""></div>
            </article>
            <article id="total">
                <h2>zona de calculo de costo</h2>
            </article>
        </section>
        <script src="../../Controller/app.js"></script>
    </body>
</html>