<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/purcharse.css">
        <title>Pedido</title>
    </head>
    <body>
        <h2>Hello World</h2>
        <img id="img" src="" alt="">
        <p id="cost"></p>
        <script src="../../Controller/purcharseData.js"></script>
        <script src="../../Controller/purcharse.js"></script>
    </body>
</html>