/* --------- Generic Selectors --------- */
body {
    width: 806px;
    margin: 20px auto auto auto;
    display: flex;
    flex-direction: row;
    flex-wrap:  nowrap;
    gap: 10px;
    background-color: darkgray ;
    padding: 10px;
    border: 1px solid white;
}